# Database
MYSQL_ROOT_PASSWORD=         # MySQL root 비밀번호
MYSQL_DATABASE=shopping_dev  # 변경 불필요
MYSQL_USER=admin             # 변경 불필요
MYSQL_PASSWORD=              # admin 유저 비밀번호

# jwt
JWT_SECRET=
JWT_EXPIRATION=86400000